CLOUDFLARE_ACCOUNT_ID=
CLOUDFLARE_ENV=production
APP_BASE_URL=
API_BASE_URL=
ATTENDEE_WEBHOOK_BASE_URL=
ATTENDEE_API_BASE_URL=
ATTENDEE_EXTERNAL_MEDIA_BUCKET_NAME=
DEFAULT_RECORDER_EMAIL=
DEFAULT_SENDER_EMAIL=
DATABASE_URL=
REDIS_URL=
DJANGO_SECRET_KEY=
CREDENTIALS_ENCRYPTION_KEY=
R2_ACCOUNT_ID=
R2_ACCESS_KEY_ID=
R2_SECRET_ACCESS_KEY=
R2_ENDPOINT_URL=
R2_RECORDING_BUCKET_NAME=
ATTENDEE_API_KEY=
ATTENDEE_WEBHOOK_SECRET=
DEEPGRAM_API_KEY=
OPENROUTER_API_KEY=
SESSION_SECRET=
ZOOM_CLIENT_ID=
ZOOM_CLIENT_SECRET=
